*.a
*.apk
*.bpi
*.bpl
*.cfg
*.dcp
*.dcu
*.ddp
*.dll
*.drc
*.dres
*.dsk
*.exe
*.hpp
*.identcache
*.lib
*.local
*.map
*.o
*.ocx
*.projdata
*.rsm
*.so
*.stat
*.tds
*.tvsconfig
*.~*
*Resource.rc
__history/
__recovery/